<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<link rel="stylesheet" href="/static/stylesheet.css">
<link rel="stylesheet" href="/static/jquery/jquery-ui.min.css">
<link rel="stylesheet" href="/static/jquery/jquery-ui.structure.min.css">
<link rel="stylesheet" href="/static/jquery/jquery-ui.theme.min.css">
<script src="/static/jquery/external/jquery/jquery.js"></script>
<script src="/static/jquery/jquery-ui.min.js"></script>
</head>
<body>
  <form action="/events/{{ event.id }}" method="post" >
    Event ID: {{ event.id }} <br>
    Sport: {{ event.sport }} <br>
    Round: <input type="text", name="round" value="{{ event.round }}"> <br>
    Country: <input type="text", name="country" value="{{ event.country}}"> <br>
    Location: <input type="text", name="location" value="{{ event.location }}"> <br>
    <input type="submit" value="Update event">
  </form> 

    <div>
      <h1> Sessions </h1>
      <a href="/events/{{ event.id }}/create_session">Add Session</a>
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th> 
          <th>Date</th>
          <th>Time</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        {% for session in sessions %}
        <tr>
          <td>{{ session.id }}</td>
          <td>{{ session.name }}</td>
          <td>{{ session.date }}</td>
          <td>{{ session.time }}</td>
          <td><a href="/sessions/{{ session.id }}">&#x270E;</a></td>
          <td><a class="delete_session" href="/sessions/{{ session.id }}">&#x2716;</a></td>
        </tr>
        {% endfor %}
      </table>
      <a href="/events/{{ event.id }}/create_session">Add Session</a>
    </div>
		<script src="/static/script.js"></script>
</body>
</html>
