<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<link rel="stylesheet" href="/static/stylesheet.css">
<script src="/static/script.js"></script>
</head>
<body>
  <h1> Motorsport Calendat API Admin pages </h1>
  <a href="/events">events</a>
</body>
</html>
